.card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 20px;
}

.card-container {
    width: 200px;
    height: 300px;
    overflow: hidden;
    background-size: cover; /* Arka planı kapsayıcıya göre ayarladım */
    background-position: center; /* resmin tam ortasını aldım */
    background-repeat: no-repeat; /* ne alaka tekrarmıs */
    display: flex; 
    align-items:flex-end;
    transition: background-image 0.5s ease; /
}

.card-container p {
    color: white;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    padding-top: 13px;
}