header {
    height: 100px;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    color: #fff;
    position: relative;
    z-index: 999;
  }
  .logo img {
    width: 100px;
    margin-top: 0;
    margin-right: 30px;
  }
  header a {
    color: #fff;
    margin-left: 30px;
    font-size: 20px;
  }
  header i {
    font-size: 15px;
    padding: 8px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 5px 0;
  }
  header button {
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
  }

  
  