@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.sidebar {
  scrollbar-width: none; /* Firefox */
  width: 250px;
  padding: 20px;
  background-color: black;
  margin: 20px;
  position: fixed; 
  top: 188px; 
  left: 0;
  height: calc(100vh - 100px); 
  overflow-y: auto;
  z-index: 999; 
}

.sidebar::-webkit-scrollbar-track {
  display: none; 
}
.sidebar::-webkit-scrollbar {
  display: none; 
}

.search {
  margin-bottom: 20px;
  position: fixed; 
  top: 99px; 
  z-index: 999; 
  
}

.search input {
  color: rgb(255, 255, 255);
  background-color: black;
  border: none;
  outline: none;
  width: 210px;
  margin: 24px 10px;
  padding: 10px;
}

.sidebarTitle {
  color: #fff;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin: 17px 0px;
}

.sidebarButton {
  background-color: black;
  display: block;
  padding: 7px 7px;
  width: 200px;
  font-size: 17px;
  outline: none;
  border: none;
  color: #8cbbea;
  font-weight: 400;
  max-height: 50px;
  border-radius: 5px;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebarButton:hover {
  color: #fff;
}

.sidebarİcon {
  color: #fff;
  margin-left: -54px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-right: 10px;
}

.sidebarİcon i {
  font-size: 17px;
  padding: 7px;
  text-align: center;
  margin: 5px 0;
}
