
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

}

body{
    font-family: "Poppins" sans-serif;
    background-color: #141414 ;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.flexSB{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexEnd{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flexColumn{
    display: flex;
    flex-direction: column;
}

.flexRow{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container{
    max-width: 100%;
    margin: auto;
   
}

.homeTitle{
 color: #fff;
 font-family: "Open Sans", sans-serif;
 font-size: 30px;
 font-weight: 300 ;
 letter-spacing: 2px;
 margin:20px 40px;
}

.homeContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
}

.movieDetailContainer {
    display: flex;
    align-items: center; 
    padding: 20px; 

}

.contentMovie {
    display: flex;
    align-items: flex-start; 
}
.poster img {
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.movieDetails {
    margin-left: 20px;
    color: white; 
}

.titleAndDate {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}

.movietitle {
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: bold;
    margin-right: 15px; 
    font-family: "Bebas Neue", sans-serif;
}

.date {
    font-size: 18px;
    color: #ccc; 
}

.score {
    width:50px;
    font-size: 20px;
    padding: 11px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #fff;
    font-weight: bold;
    margin-top:15px;
    
   
}

.overview {
    font-size: 16px;
    line-height: 1.5;
    max-width:900px;
    font-weight: 400;
}

